body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0 auto;
}

.nobull {
  list-style-type: none;
}

.top {
  background-image: url('../image/main_big.png');
  background-position: center top;
  background-size: auto;
}

.top-menu-desktop,
.menu-desktop {
  display: none;
}

.menu-mobile {
  display: flex;
  position: sticky;
  width: 100%;
  justify-content: space-between;
  background: #fff;
}

.mobile-menu-box {
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #272a31;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 20px;
  opacity: 0.9;
}

.mobile-menu-box.open-menu {
  width: 100%;
  height: 90vh;
}

.mobile-menu-item-text {
  font-size: 1em;
  height: 2.5em;
  line-height: 2.5em;
  color: #fff;
  text-decoration: none;
}

.close-image {
  position: relative;
  top: 20px;
  left: 20px;
}

.burger-image {
  height: 20px;
  margin: 12px 0 0 12px;
}

.top-logo {
  margin: 0 12px 0 0;
}

.invite {
  height: auto;
  padding: 51px 0 0 0;
  width: 98%;
  margin: 0 auto;
  max-width: 1100px;
}

.invite h3 {
  color: #ec5242;
  font-size: 32px;
  font-weight: 100;
  padding: 0 25px 0;
}

.invite h1 {
  color: #ec5242;
  padding: 0 25px 0;
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 70px;
  font-weight: 900;
}

.invite-text {
  text-align: justify;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  margin: 15px 0 40px;
  line-height: 220%;
  padding: 10px 25px 0;
  font-size: 1.125em;
}

.invite-date {
  color: rgb(87, 87, 87);
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 15px 0 0;
  padding: 0 25px 0;
}

.invite-location {
  color: rgb(87, 87, 87);
  font-size: 15px;
  text-align: left;
  padding: 0 25px 0;
}

.middle {
  background-image: url("../image/pattern_bg.png");
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
}

.program {
  font-size: 24px;
  color: #fff;
  text-align: center;
  overflow: auto;
  padding-top: 60px;
}

.guide-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.program-item {
  margin: 0 0 5px 3px;
  padding: 16px 0;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
}

.program-image {
  margin: 0 0 0 0.5em;
}

.program-name {
  color: #ec5242;
  font-size: 14px;
  text-align: center;
  margin: auto 0.3em;
  width: 26%;
}

.program-description {
  text-align: left;
  font-size: 12px;
  width: calc(74% - 90px);
}

.program-view-full {
  text-align: center;
  font-size: 16px;
  padding-bottom: 80px;
}

.program-view-full a {
  text-decoration: none;
  color: #fff;
}

.speakers {
  max-width: 1100px;
  margin: 0 auto;
}

.speakers h2 {
  text-align: center;
  color: rgb(39, 42, 50);
}

.speaker-item {
  margin: 0 0 0.5em;
  padding: 16px 0;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
}

.speaker-image {
  margin: 0 0 0 0.5em;
}

.speaker-details {
  background: #fff;
}

.speaker-name {
  color: rgb(39, 42, 50);
  font-size: 22px;
  text-align: left;
  margin: 0 6px;
}

.speaker-title {
  color: #ec5242;
  font-size: 14px;
  text-align: left;
  margin: 0 6px 24px;
}

.speaker-description {
  color: rgb(39, 42, 50);
  font-size: 0.75em;
  text-align: left;
  margin: 0 6px;
}

.partners {
  background-color: rgb(39, 42, 50);
  text-align: center;
  overflow: auto;
  padding-top: 60px;
  width: 100%;
}

.partners h2 {
  color: rgb(182, 182, 182);
}

.partners-list img {
  height: 60px;
  margin: 0 20px 60px 20px;
  filter: brightness(0) invert(1) opacity(0.4) drop-shadow(0 0 0 rgb(182, 182, 182));
}

.footer {
  margin: 0 0 0.5em;
  padding: 16px 0;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
}

.foot-logo {
  margin: 0 0 0 0.5em;
}

.foot-details {
  color: rgb(39, 42, 50);
  font-size: 16px;
  text-align: left;
  padding: 16px 0 0 100px;
}

.about-text-box {
  text-align: justify;
  border: 4px solid rgb(255, 255, 255);
  background-color: #fff;
  margin: 15px 15px 40px 15px;
  line-height: 220%;
  padding: 20px;
  font-size: 0.875em;
}

.about-text-contact {
  text-align: center;
}

.about-text-email {
  text-align: center;
  font-size: 0.875em;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0 0 60px 0;
}

.about-logo-container {
  text-align: center;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 0 0 70px 0;
}

.about-logo-container h2 {
  text-align: center;
  color: rgb(39, 42, 50);
}

.about-logo-text {
  text-align: center;
  color: rgb(39, 42, 50);
  font-size: 0.875em;
  line-height: 24px;
  margin: 0 10% 70px 10%;
}

.about-logo-image {
  border: 1px solid #272a31;
  width: 98%;
}

.about-past-container {
  text-align: center;
  padding: 0 0 70px 0;
}

.about-past-container h2 {
  text-align: center;
  color: rgb(39, 42, 50);
}

.about-past-text {
  text-align: center;
  color: rgb(39, 42, 50);
  font-size: 0.875em;
  line-height: 24px;
  margin: 0 10% 70px 10%;
}

.about-footer {
  background-color: rgb(39, 42, 50);
  color: #fff;
  display: flex;
}

.about-foot-details {
  padding: 16px 0 0 100px;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }

  .top-menu-desktop {
    height: 36px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(39, 42, 50);
  }

  .top-menu-desktop ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 10% 0 0;
    align-items: center;
  }

  .top-menu-desktop ul li {
    margin: 0 8px 0 8px;
  }

  .top-menu-desktop ul li a {
    text-decoration: none;
    color: #fff;
  }

  .menu-desktop {
    display: flex;
    padding: 0 0 0 40px;
    box-shadow: rgb(0 0 0 / 30%) 0 2px 8px 0;
    position: relative;
    background: #fff;
  }

  .desktop-menu-box {
    width: calc(100% - 130px);
    float: right;
    color: #000;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }

  .desktop-menu-item {
    display: inline-block;
  }

  .desktop-menu-item-text {
    margin: 0 25px;
    color: #888;
    font-size: 0.938em;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
  }

  .red-border {
    border: 7px solid #ec5242;
  }

  .invite {
    max-width: 1100px;
  }

  .program {
    max-width: 1100px;
    margin: 0 auto;
  }

  .program-list {
    float: left;
    display: flex;
    flex-direction: row;
  }

  .program-item {
    width: calc(20%);
    height: 180px;
    display: block;
  }

  .program-image {
    margin: auto;
  }

  .program-name {
    font-size: 18px;
    text-align: center;
    width: auto;
  }

  .program-description {
    font-size: 12px;
    text-align: center;
    width: auto;
  }

  .speaker-item {
    width: calc(50% - 10px);
    margin: auto;
    float: left;
    height: 249px;
  }

  .speaker-image {
    width: 177px;
    height: 177px;
  }

  .about-logo-image {
    width: 49%;
  }

  .about-past-image {
    width: 40%;
  }

  /* Desktop version (wide) */
  @media screen and (min-width: 1100px) {
    .menu-desktop {
      padding: 0 0 0 15%;
    }

    .footer {
      padding: 0 0 0 15%;
    }

    .about-footer {
      padding: 0 0 0 15%;
    }
  }
}
